@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=VT323&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  background-color: #e5e5e5;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #14213d;
  color: #fff;
  padding: 20px;
  /* margin: 0 10px; */
  border-radius: 10px;
}
nav h1 {
  color: #fca311;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

li a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}

li a.active {
  background: #fca311;
  color: #14213d;
  padding: 5px;
  border-radius: 5px;
}
li a.none {
  text-decoration: none;
  background: #14213d;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  width: 100%;
  /* height: 100vh; */
  padding: 10px 10px;
  background: #000;
  margin: 5px auto;
  text-align: center;
  border-radius: 10px;
}

.flex {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  /* align-items: center; */
}

.user-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 40px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}

.user {
  margin: auto;
  background-color: #14213d;
  color: #fff;
  padding: 20px;
  min-height: 100vh;
  max-width: 450px;
  margin-top: 20px;
  width: 100%;
  border-radius: 10px;
}

.user-details {
  line-height: 1.7;
}

.user-details .name {
  font-size: 16px;
  font-weight: 500;
  color: #fca311;
}

.user-details .login {
  font-size: 14px;
}

.email-location {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  gap: 8px;
}

.email,
.location {
  display: flex;
  align-items: center;
  gap: 12px;
  /* background: #000; */
  color: #fca311;
  padding: 5px;
  border-radius: 10px;
  font-size: 12px;
}

.portfolio a {
  text-decoration: none;
  color: #fff;
}

.social-container {
  display: grid;
 
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.social-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px 25px;
  background-color: #fff;
  color: #14213d;
  border-radius: 10px;
  margin: 5px;
}

.social-card p {
  font-size: 12px;
  text-align: left;
}

/* style for repo */
.rep-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: left;
  gap: 20px;
  padding: 0 px;
  height: 100vh;
}

.rep-card .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rep-container a {
  text-decoration: none;
  color: #fff;
}

.rep-card h3 {
  margin-bottom: 10px;
}

.rep-card {
  cursor: pointer;
  height: 100%;
  padding: 20px;
  width: 100%;
  background-color: #14213d;
  color: #fff;
  border: 1px solid #14213d;
  border-radius: 10px;
  transition: transform 0.3s ease-in;
}

.rep-card:hover {
  transform: scale(0.98);
}

.btn {
  background-color: #fca311;
  color: #14213d;
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease-in;
}

.btn a {
  text-decoration: none;
  color: #14213d;
}

.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.error {
  background-color: #14213d;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .rep-container {
    grid-template-columns: 1fr;
  }
  .social-container {
    grid-template-columns: 1fr;
  }
  .rep-container {
    height: auto;
  }
}
  
